header {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    background-image: url(../img/pastel.jpeg);
    background-size: 120%;
    .headerTop {
        color: $color-1;
        background-color: rgba($color: #ffffff, $alpha: 0.70);
        margin: auto;
        text-align: center;
        border: double 3px;
        border-color: $color-1;
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
        h1{
            margin: 0px;
        }
        p {
            margin: 3px;
        }
    }
    .bottomPart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .chiroLogo {
        width: 120px;
        margin-left: 40px;
        margin-top: 0px;
    }
}
#menuDesk {
    display: flex;
    color: $color-1;
    flex-direction: row;
    background-size: 150%;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
    .linkMenu {
        background-color: rgba($color: #ffffff, $alpha: 0.70);
        width: 100%;
        margin: 0px;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            color: $color-1;
            text-decoration: none;
            display: flex;
            padding: 10px;
            margin: 5px 10px 5px 10px;
            list-style: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            transition-duration: 200ms;
        }
        a:hover {
            transform: scale(1.1);
            transition-duration: 300ms;
        }
    }
}

#menuBis {
    display: none;

}

@media only screen and (max-width: 800px) {
    .bottomPart {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .chiroLogo {
        width: 10px;
        height: auto;
        margin-left: 80px;
    }
    .headerTop{
        width: 80%;
        height: auto;
        h1{
            font-size: 25px;
            margin: 0px;
        }
        p{
            font-size: 13px;
            margin: 0px;
        }
    }
    #menuBis {
        color: $color-1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-size: 100%;
        padding: 0px;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 10px;
        .linkMenu {
            background-color: rgba($color: #ffffff, $alpha: 0.7);
            width: 100%;
            margin: auto;
            margin: 0px;
            display: flex;
            border-radius: 3px;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: space-between;
            a {
                width: 40%;
                text-align: center;
                color: $color-1;
                text-decoration: none;
                padding: 5px;
                list-style: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                transition-duration: 200ms;
            }
            a:hover {
                transform: scale(1.1);
                transition-duration: 300ms;
            }
            i {
                background-image: none;
                text-align: center;
                font-size: 30px;
            }
        }

    }
    #menuDesk {
        display: none;
    }
}